# Copy this file to .env.local and fill in real values (never commit .env.local).
PERFECTCORP_KEY=sk-4lJbRuv9aT1CLGFRLYiLcNuDZIIn9KyxuHDdm4FQVeom3dxzeYZOoiB5GOsTmN9c
PERFECTCORP_SECRET=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCebNwIMCtjZ/F40StE67aJrff190B7NKCDcKF8SM7p24tIAUv2gg/nSad4dsGXlM2P7FFaHRhx3hk2lXR39beIN3/ZqmpmEQQeGXIDftZb2rmKFkILFxhNtL6hxzKQIUGG5H3W586Qs2mmD5gLmwRkLwIjmh/1TzBFov/PgkqoswIDAQAB
